.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightblue;
  padding: 10px;
}
.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
}
